.dashboard{
    width: 100%;
    margin: 0;
    background-color: rgb(18, 18, 18);
    height: 160vh;
    display: flex;
    justify-content: flex-end;
    color: white;
}
.content-page{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(18, 18, 18);
}
.button{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 55px;
}
.info-cards{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.info-card{
    width: 33%;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: rgb(18, 18, 18);
}
.tabla-metrica{
    /* width: 100%;
    display: flex;
    justify-content: flex-end; */
    padding-left: 30px;
    padding-bottom: 30px;
}
.label-metrica{
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    padding-bottom: 10px;
}
.card-metricas{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.tabla-publicidad{
    padding-left: 30px;
    padding-bottom: 30px;
}
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column; /* Acomoda los elementos en columna */
    }

    .content-page {
        width: 100%;
        padding: 0;
    }

    .info-cards {
        flex-direction: column; /* Las tarjetas se acomodan una debajo de la otra */
    }

    .info-card {
        max-width: 100%; /* Tarjetas ocupan todo el ancho disponible */
    }

    .button {
        padding: 10px;
        margin: 5px 0; /* Más espacio entre botones en pantallas pequeñas */
    }

    .tabla-metrica, .card-metricas, .tabla-publicidad {
        padding: 0 10px;
    }
}