.custom-table{
    
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.custom-body{
    background-color: black;
    padding: 5px;

}
.custom-header{
    padding: 5px;
    background-color:rgb(14, 13, 13);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

th, td {
    border: 0.1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    border: 0.1px solid rgb(14, 13, 13);

}

table {
    border-collapse: separate;
    border-spacing: 0; 
    width:80%;
    margin: 10px 0;
    border: 0.1px solid black;
    border-radius: 10px;
    overflow: hidden; 
}

.first-column{
    text-align: start;
}
@media (max-width: 768px) {
    th, td {
        font-size: 12px; /* Ajusta el tamaño del texto */
        padding: 8px;
    }
    
    table {
        font-size: 0.9rem;
    }

    /* Ajustar columnas largas */
    .first-column {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
    
    /* Scroll horizontal para dispositivos pequeños */
    .custom-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}